In [2]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("../data/sales_dataset.csv", parse_dates=["Order Date"])
df.head()

,Order ID,Order Date,Product,Category,Region,Quantity,Price,Sales
0,10001,2023-01-01 00:00:00.000000000,Mouse,Accessories,West,4,48969,195876
1,10002,2023-01-01 01:44:51.178235647,Monitor,Electronics,West,5,49838,249190
2,10003,2023-01-01 03:29:42.356471294,Keyboard,Electronics,North,5,9734,48670
3,10004,2023-01-01 05:14:33.534706941,Monitor,Accessories,West,5,42651,213255
4,10005,2023-01-01 06:59:24.712942588,Monitor,Accessories,West,4,34793,139172

In [13]:
df.shape

(5000, 8)

In [14]:
df.columns

Index(['Order ID', 'Order Date', 'Product', 'Category', 'Region', 'Quantity',
       'Price', 'Sales'],
      dtype='object')

In [15]:
df.dtypes

Order ID               int64
Order Date    datetime64[ns]
Product               object
Category              object
Region                object
Quantity               int64
Price                  int64
Sales                  int64
dtype: object

In [16]:
df.isnull().sum()

Order ID      0
Order Date    0
Product       0
Category      0
Region        0
Quantity      0
Price         0
Sales         0
dtype: int64

In [17]:
df.describe(include="all")

,Order ID,Order Date,Product,Category,Region,Quantity,Price,Sales
count,5000.000000,5000,5000,5000,5000,5000.000000,5000.000000,5000.000000
unique,NaN,NaN,6,2,4,NaN,NaN,NaN
top,NaN,NaN,Laptop,Accessories,North,NaN,NaN,NaN
freq,NaN,NaN,870,2528,1299,NaN,NaN,NaN
mean,12500.500000,2023-07-02 00:00:00,NaN,NaN,NaN,3.027200,30626.806800,92795.026200
min,10001.000000,2023-01-01 00:00:00,NaN,NaN,NaN,1.000000,1018.000000,1018.000000
25%,11250.750000,2023-04-02 00:00:00,NaN,NaN,NaN,2.000000,16038.500000,35497.750000
50%,12500.500000,2023-07-02 00:00:00.000000256,NaN,NaN,NaN,3.000000,30465.500000,72637.000000
75%,13750.250000,2023-10-01 00:00:00,NaN,NaN,NaN,4.000000,45737.750000,138197.750000
max,15000.000000,2023-12-31 00:00:00,NaN,NaN,NaN,5.000000,59999.000000,299980.000000
std,1443.520003,NaN,NaN,NaN,NaN,1.419318,17013.060938,72094.891442

In [19]:
print("Products:", df["Product"].unique())
print("Categories:", df["Category"].unique())
print("Regions:", df["Region"].unique())
df.to_csv("../data/sales_cleaned.csv", index=False)

Products: ['Mouse' 'Monitor' 'Keyboard' 'Headphones' 'Webcam' 'Laptop']
Categories: ['Accessories' 'Electronics']
Regions: ['West' 'North' 'South' 'East']