In [ ]:
#Imports & Load Cleaned Data
import pandas as pd

df = pd.read_csv("../data/sales_cleaned.csv", parse_dates=["Order Date"])

In [3]:
# Feature Engineering
df["order_month"] = df["Order Date"].dt.to_period("M").astype(str)
df.head()

,Order ID,Order Date,Product,Category,Region,Quantity,Price,Sales,order_month
0,10001,2023-01-01 00:00:00.000000000,Mouse,Accessories,West,4,48969,195876,2023-01
1,10002,2023-01-01 01:44:51.178235647,Monitor,Electronics,West,5,49838,249190,2023-01
2,10003,2023-01-01 03:29:42.356471294,Keyboard,Electronics,North,5,9734,48670,2023-01
3,10004,2023-01-01 05:14:33.534706941,Monitor,Accessories,West,5,42651,213255,2023-01
4,10005,2023-01-01 06:59:24.712942588,Monitor,Accessories,West,4,34793,139172,2023-01

In [4]:
#Product-wise Sales
product_sales = (
    df.groupby("Product")["Sales"]
    .sum()
    .sort_values(ascending=False)
)
product_sales

Product
Monitor       81155927
Laptop        80197262
Webcam        77523505
Keyboard      77063350
Headphones    74655167
Mouse         73379920
Name: Sales, dtype: int64

In [5]:
#Category-wise Sales
category_sales = df.groupby("Category")["Sales"].sum()
category_sales

Category
Accessories    230620220
Electronics    233354911
Name: Sales, dtype: int64

In [6]:
#Region-wise Sales
region_sales = df.groupby("Region")["Sales"].sum()
region_sales

Region
East     113985115
North    123777965
South    115222077
West     110989974
Name: Sales, dtype: int64

In [7]:
#Monthly Sales Trend
monthly_sales = (
    df.groupby("order_month")["Sales"].sum().reset_index())
monthly_sales

   order_month     Sales
0      2023-01  43403294
1      2023-02  36777363
2      2023-03  40049680
3      2023-04  38166417
4      2023-05  38417386
5      2023-06  38334858
6      2023-07  38405936
7      2023-08  40980182
8      2023-09  35389047
9      2023-10  39598276
10     2023-11  39192613
11     2023-12  35260079

In [8]:
#Save Aggregated Data
monthly_sales.to_csv("../data/monthly_sales.csv", index=False)